agm-map {
    height: 600px
}

.location-input {
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 1;
    width: 60%;
}

.location-input>input {
    display: block;
    width: 100%;
    margin: 2rem 0;
    height: 4rem;
    box-shadow: 2px 3px 4px 0px darkgrey;
    outline: none;
    border: 0;
    padding: 1rem;
}
